[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
pillow = "*"
crispy-bootstrap5 = "*"
python-webpack-boilerplate = "*"
django-template-partials = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"
