{% load webpack_loader static %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock title %}</title>
    
    {% block head_styles %}
      {% stylesheet_pack 'app' %}
    {% endblock head_styles %} 
    
    {% block head_scripts %}
      {% javascript_pack 'app' attrs='defer' %}
    {% endblock head_scripts %}
  </head>
  <body class="{% block body_classes %}position-relative min-vh-100{% endblock body_classes %}" {% block body_attr %}{% endblock body_attr %} hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div id="messages" class="position-absolute vw-100 my-2" style="z-index:9999">
      {% include "fragments.html#messages" %}
    </div>
    
    {% block navigation %}{% include 'fragments.html#navigation' %}{% endblock navigation %}
    
    {% block header %}{# placer l'en-tête de la page ici #}{% endblock header %}
    
    {% block outer_content %}
        <main class="flex-grow-1 container">
          {% block content %}{# placer le contenu principal ici #}{% endblock content %}
        </main>
    {% endblock outer_content %}
    
    {% block footer %}{% include "fragments.html#footer" %}{% endblock footer %}
    
    {% block modal %}{# placer vos fenêtres modales ici #}{% endblock modal %}
    
    {% block bottom_scripts %}{# placer vos scripts de bas de page ici #}{% endblock bottom_scripts %}
  </body>
</html>
